@font-face {
  font-family: montserrat-reg;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: montserrat-md;
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: source-code-md;
  src: url("../fonts/SourceCodePro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: source-code-reg;
  src: url("../fonts/SourceCodePro-Regular.ttf") format("truetype");
}

/* Needed to overwirte default bootstrap font */
body {
  font-family: "montserrat-md", sans-serif !important;
}

/* Main section image cover */
.cover {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url(../img/bg-2.jpg);
  background-attachment: fixed;
}

/* transparent navbar */
.navbar {
  background-color: transparent;
}

/* custom color transparency (same as background) */
.transparent-custom-color {
  background: rgba(24, 24, 24, 0.7);
}

/* pushing main text section to bottom */
.main-text {
  padding-top: 30vh;
}

/* overwrite default border radius from bootstrap */
#services .card {
  border-radius: 2rem !important;
}

/* font family to typed section on main */
.typed {
  font-family: source-code-md;
}

/* main section name text size */
#main-name {
  font-size: 6rem;
}

/* secondary typed text size */
#main-name-desc {
  font-size: 3rem;
}

/* adding a margin between about me section and other sections */
#about-me .container {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

/* added a margin bottom to every section */
#services,
#tecnologies,
#portfolio {
  margin-bottom: 10vh;
}

/* disabled text decoration to links */
a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

/* fix for carousel not centering */
.container-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form{
  padding: 1rem;
  margin-bottom: 1rem;
  
}





.card:hover .details {
  opacity: 1;
  height: 100%;
}

.details {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  opacity: 0;
  transition: 0.5s ease;
}

.details h4 {
  margin: 0;
}

.details p {
  margin: 2px 0;
  font-size: 10px;
}

.social-icons {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons li a {
  color: deepskyblue;
}

section {
  display: flex;
  flex-flow: column;
  align-items: center;
}
section div.container {
  transition: all .3s ease;
}
section div.container h1 {
  margin: 15px 0 0 0;
}
section div.container h3 {
  margin: 0 0 25px 0;
}
@media (max-width: 992px) {
  section {
    padding: 0 20px 0 20px;
 }
}
section.slide-option {
  margin: 0 0 50px 0;
}
section.slide-option .no-marg {
  margin: 0 0 0 0;
}
div.highway-slider {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
}
div.highway-slider div.highway-barrier {
  overflow: hidden;
  position: relative;
}
div.highway-slider ul.highway-lane {
  display: flex;
  height: 100%;
}
div.highway-slider ul.highway-lane li.highway-car {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #343434;
}
@keyframes translatestf {
  0% {
    transform: translateX(100%);
 }
  100% {
    transform: translateX(-500%);
 }
}
#stffull div.highway-barrier ul.highway-lane {
  width: 500%;
}
#stffull div.highway-barrier ul.highway-lane li.highway-car {
  animation: translatestf 30s linear infinite;
}
#stffull div.highway-barrier ul.highway-lane li.highway-car h4 {
  font-size: 28px;
}
@keyframes translateinfinite {
  100% {
    transform: translateX(calc(-2160px));
 }
}
#infinite div.highway-barrier {
  background: #fff;
  box-shadow: 0 3px 10px -3px rgba(0,0,0,0.3);
}

#infinite div.highway-barrier::before {
  top: 0;
  left: 0;
  background: linear-gradient(to right,#ffffff 0%,rgba(255,255,255,0) 100%);
}
#infinite div.highway-barrier::after {
  top: 0;
  right: 0;
  background: linear-gradient(to left,#ffffff 0%,rgba(255,255,255,0) 100%);
}
#infinite div.highway-barrier ul.highway-lane {
  width: calc(4320px);
}
#infinite div.highway-barrier ul.highway-lane li.highway-car {
  width: 180px;
  animation: translateinfinite 25s linear infinite;
}
#infinite div.highway-barrier ul.highway-lane li.highway-car span.fab {
  font-size: 65px;
}
#red {
  background: #cb5454;
}
#orange {
  background: #cb8054;
}
#yellow {
  background: #cbba54;
}
#green {
  background: #69b46e;
}
#blue {
  background: #6091b0;
}
